Source: johnny
Section: utils
Priority: extra
Maintainer: Devon Kearns <dookie@kali.org>
Build-Depends: debhelper (>= 8.0.0), libqt4-core, libqt4-gui, libqt4-dev, qt4-qmake, g++
Standards-Version: 3.9.3
Homepage: http://openwall.info/wiki/john/johnny
Vcs-Git: ssh://git@git.kali.org/packages/johnny.git
Vcs-Browser: http://git.kali.org/gitweb/?p=packages/johnny.git;a=summary

Package: johnny
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, john
Description: GUI for John the Ripper
 Johnny is provides a GUI for the John the Ripper
 password cracking tool.
